body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #d43a3a;
}

header {
    background-color: #333;
    color: #f5f4f7;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

h2 {
    color: #004d00;
    margin-top: 20px;
}

h3 {
    color: #005500;
}

section {
    background: rgb(171, 201, 176);
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

ul,
p {
    margin-left: 20px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #333;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}

.back-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    color: #fff;
    background-color: #28a745;
    text-decoration: none;
    border-radius: 5px;
}

.back-button:hover {
    background-color: #218838;
}
